@model Uppgift1UI.Models.HomeViewModel

@{
    ViewData["Title"] = "Saras Bank";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Customers</h2>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>
            <p>Name: @customer.Name</p>
            <p>Customer Id: @customer.Id</p>
            <p>Accounts: </p>
            <ul>
                @foreach (var account in customer.Accounts)
                {
                    <li>
                        <p>@account.AccountId: @account.Balance SEK</p>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

